/.well-known/
/awstats/
/log/
/upload/
/cgi-bin/
/price-list/

/.htaccess*
/web.config
/robots.txt
/*.conf

*.txt
*.json
*.xml
*.zip
*.tar.gz
*.sql.gz
*.docx
*.xlsx
*.sql
~*
*~
_*
**/.DS_Store
**.log

!/bitrix/
/bitrix/*
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
!/bitrix/admin/
/bitrix/admin/*
!/bitrix/admin/reports/
!/bitrix/templates/
/bitrix/templates/landing24/*